:root {
    --orange :  #f45f3c;
}

@font-face {
    font-family: font;
    src: url(../assets/fonts/ELEGANT\ TYPEWRITER\ Regular.ttf);
}

body {
    font-family: font;
    scroll-behavior: smooth;
    background-color: #e6e5e0;
    font-size: small !important;
}

#header {
    display: flex !important;
    justify-content: space-between !important;

}

#navbar {
    background-color: #e6e5e0 !important;
}

.navbar-brand-container {
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-right: 550px; /* Adjust the margin as needed */
}

#selection {
    color: var(--orange);
}

#card_title {
    color: var(--orange);
}

/* Aside */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 330px;
    background-color: #e6e5e0; 
    padding: 20px;
    transition: width 0.3 ease;
    margin-top: 130px;
}

.menu-item {
    margin-bottom: 20px;
    cursor: pointer;
}

.menu-item h3 {
    margin: 0;
    padding: 0;
}

.menu-content {
    display: none; 
}

.menu-content a {
    text-decoration: none;
    color: black;
}

.menu-content a:hover {
    color: var(--orange);
}

.menu-title {
    display: flex;
    justify-content: space-between;
    color: var(--orange);
    font-size: large;
}

.menu-title:hover {
    background-color: #e69e8e;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
    background-color: #e6e5e0;
    position: fixed;
    top: 0;
    right: 0;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.closeBtn {
    display: none;
}

@media screen and (max-width: 1480px) {
    .menu-toggle {
        display: block; 
    }

    .sidebar {
        display: none;
        transition: width 0.3 ease;
        margin-top: 1px;
    }

    .sidebar.show {
        display: block;
        width: 100%;
        max-width: none;
    }

    .sidebar.close {
        display: none;
    }
    
    .closeBtn {
        display: block;
    }
}
