@font-face {
    font-family: font;
    src: url(../assets/fonts/ELEGANT\ TYPEWRITER\ Regular.ttf);
}

body {
    font-family: font;
    scroll-behavior: smooth;
    background-color: #e6e5e0;
}

#navbar {
    background-color: #e6e5e0 !important;
}

#selection {
    color: #f45f3c;
}

#card_title {
    color: #f45f3c;
}

/* Aside */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 330px; /* Ajustez la largeur selon vos besoins */
    background-color: #e6e5e0; /* Couleur de fond de la barre latérale */
    padding: 20px; /* Espacement interne */
}

/* Styles pour chaque menu déroulant */
.menu-item {
    margin-bottom: 20px;
    cursor: pointer; /* Permet de montrer qu'il s'agit d'un élément cliquable */
}

.menu-item h3 {
    margin: 0;
    padding: 0;
}

.menu-content {
    display: none; /* Masquer le contenu par défaut */
}

.menu-content a {
    text-decoration: none;
    color: black;
}

.menu-content a:hover {
    color: #f45f3c;
}

.content {
    margin-right: 280px;
   
}