:root {
    --orange :  #f45f3c;
}

@font-face {
    font-family: font;
    src: url(../assets/fonts/ELEGANT\ TYPEWRITER\ Regular.ttf);
}

body {
    font-family: font;
    scroll-behavior: smooth;
    background-color: #e6e5e0;
    font-size: small !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px; /* Optional: Add padding for spacing */
}

.navbar div {
    flex: 1; /* Each div takes up equal space */
    text-align: center; /* Center align content within div */
}


#profilpic {
    border-radius: 60%;
    border: 5px solid var(--orange);
}


#selection {
    color: var(--orange);
}

#card_title {
    color: var(--orange);
}

.card {
    transition: transform 0.2s;
    background-color: transparent;
    border: 1px solid;
}

.card.highlighted {
    transform: scale(1.1);
}

.card.greyed-out {
    opacity: 0.5;
}

/* Aside */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 330px;
    background-color: transparent; 
    padding: 20px;
    transition: width 0.3 ease;
    margin-top: 130px;
}

.menu-item {
    margin-bottom: 20px;
    cursor: pointer;
}

.menu-item h3 {
    margin: 0;
    padding: 0;
}

.menu-content {
    display: none; 
}

.menu-content a {
    text-decoration: none;
    color: black;
}

.menu-content a:hover {
    color: var(--orange);
}

.menu-title {
    display: flex;
    justify-content: space-between;
    color: var(--orange);
    font-size: large;
}

.menu-title:hover {
    background-color: #e69e8e;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
    background-color: #e6e5e0;
    position: fixed;
    top: 0;
    right: 0;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.closeBtn {
    display: none;
    cursor: pointer;
    padding: 10px;
    background-color: #e6e5e0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    color: #f45f3c;
}

.closeBtn.show {
    display: block;
}

#img_hover {
    background: #fff;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1e !important;
        color: #fefefe !important;
    }

    a {
        color: #f45f3c !important;
    }

    p.card-text {
        color: #fefefe;
    }
}

@media screen and (max-width: 1480px) {
    .menu-toggle {
        display: block; 
    }

    .sidebar {
        display: none;
        transition: width 0.3 ease;
        margin-top: 1px;
        background-color: #e6e5e0; 

    }

    .sidebar.show {
        display: block;
        width: 100%;
        max-width: none;
    }

    .sidebar.close {
        display: none;
    }
    
    .closeBtn {
        display: block;
    }

    #profilpic {
        display: none;
    }
}
